<h1>Riddle Two: </h1>

<form class="" action="/riddle_two" method="post">
  <div class="form-group">
    <label for="answer_two">Answer: </label>
    <input type="text" name="answer_two">
    <button type="submit" class="btn">Submit</button>
  </div>
</form>
